[submodule "Parsedown"]
	path = lib/Parsedown
	url = https://github.com/erusev/parsedown
[submodule "example/murtada.nl-ziggurat"]
	path = example/murtada.nl-ziggurat
	url = https://github.com/mmousawy/murtada.nl-ziggurat
